fastapi
python-multipart
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
pydantic
pydantic-settings
passlib[bcrypt]
pyjwt
python-dotenv
alembic
google-auth
requests
groq
boto3
loguru
python-jose[cryptography]