fastapi
python-multipart
uvicorn
sqlalchemy
aiosqlite
asyncpg
psycopg2-binary
pydantic[email]
pydantic-settings
passlib[bcrypt]
bcrypt
pyjwt
python-dotenv
alembic
google-auth
requests
groq
boto3
loguru
python-jose[cryptography]
pdfplumber
pypdf
PyMuPDF
python-docx
fastapi-mail
